.framegambar1k {
    background-image: url("../assets/kota/kota1.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar2k {
    background-image: url("../assets/kota/kota2.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar3k {
    background-image: url("../assets/kota/kota3.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar4k {
    background-image: url("../assets/kota/kota4.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar5k {
    background-image: url("../assets/kota/kota5.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar6k {
    background-image: url("../assets/kota/kota6.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    .framegambar1k {
      background-image: url("../assets/kota/kota1.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar2k {
      background-image: url("../assets/kota/kota2.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar3k {
      background-image: url("../assets/kota/kota3.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar4k {
      background-image: url("../assets/kota/kota4.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar5k {
      background-image: url("../assets/kota/kota5.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar6k {
      background-image: url("../assets/kota/kota6.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

}