.framegambar1b {
    background-image: url("../assets/budaya/budaya1.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar2b {
    background-image: url("../assets/budaya/budaya2.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar3b {
    background-image: url("../assets/budaya/budaya3.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar4b {
    background-image: url("../assets/budaya/budaya4.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar5b {
    background-image: url("../assets/budaya/budaya5.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  .framegambar6b {
    background-image: url("../assets/budaya/budaya6.png");
    background-position: 50%;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-end;
    display: flex;
  }

  @media screen and (min-width: 1440px) {
    .framegambar1b {
      background-image: url("../assets/budaya/budaya1.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar2b {
      background-image: url("../assets/budaya/budaya2.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar3b {
      background-image: url("../assets/budaya/budaya3.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar4b {
      background-image: url("../assets/budaya/budaya4.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar5b {
      background-image: url("../assets/budaya/budaya5.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

    .framegambar6b {
      background-image: url("../assets/budaya/budaya6.png");
      background-position: 50%;
      background-size: cover;
      flex-direction: column;
      flex: 1;
      justify-content: flex-start;
      align-self: stretch;
      align-items: flex-end;
      display: flex;
    }

}